@page "/"

<h1>Code Ln Test!</h1>

Hello all, this is a test Desktop application running .Net Core And Electron with blazor... Its crazy i knw (-_-)

@*<SurveyPrompt Title="How is Blazor working for you?" />*@
